<div id="detail" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="['../']">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom>

            <div class="h2" *ngIf="driver && driver._id">
              {{driver.name}}
            </div>

            <div class="h2" *ngIf="!driver || (driver && !driver._id)">
              {{'DRIVER.DETAIL_HEADER_NEW' | translate}}
            </div>

            <div *ngIf="driver" class="subtitle secondary-text">
              <span>{{'DRIVER.PERSON_ID' | translate}} {{driver.documentId}} </span>
            </div>
          </div>
        </div>
        <!-- / APP TITLE -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

        <form class="mt-12" fxLayout="row wrap" fxLayoutAlign="space-around center" name="form" [formGroup]="assignmentForm">
          <mat-form-field class="mr-8 ml-8" >
            <input maxlength="6" matInput placeholder="{{'DRIVER.LICENSE_PLATE' | translate}}" formControlName="licensePlate" />
          </mat-form-field>
          <button class="mr-8 ml-8"  mat-raised-button class="mat-white-bg" (click)="addVehicleToDriver()">
              <span>{{ "DRIVER.ADD_NEW" | translate }}</span>
            </button>
        </form>

        <mat-table id="vehicle-table" class="item-table" #table [dataSource]="dataSource" fusePerfectScrollbar>

          <!-- license plate Column -->
          <ng-container cdkColumnDef="licensePlate">
            <mat-header-cell *cdkHeaderCellDef>{{"DRIVER.VEHICLE.LICENSE_PLATE" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let vehicle">
              <p *ngIf="vehicle.licensePlate" class="text-truncate"> {{ vehicle.licensePlate | uppercase }} </p>
            </mat-cell>
          </ng-container>

          <!-- model Column -->
          <ng-container cdkColumnDef="model">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{"DRIVER.VEHICLE.MODEL" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let vehicle" fxHide fxShow.gt-xs>
              <p class="text-truncate"> {{ vehicle.model }} </p>
            </mat-cell>
          </ng-container>

          <!-- FUEL TYPE COLUMN -->
          <ng-container cdkColumnDef="fuelType">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{"DRIVER.VEHICLE.FUEL_TYPE" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let vehicle" fxHide fxShow.gt-xs>
              <p *ngIf="vehicle.fuelType" class="text-truncate"> {{ 'DRIVER.VEHICLE.FUEL_TYPES.' + vehicle.fuelType | translate | uppercase }} </p>
            </mat-cell>
          </ng-container>

          <!-- BRAND Column -->
          <ng-container cdkColumnDef="brand">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{ "DRIVER.VEHICLE.BRAND" | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let vehicle" fxHide fxShow.gt-xs>
                <p *ngIf="vehicle.brand" class="text-truncate"> {{ vehicle.brand | uppercase }} </p>
            </mat-cell>
          </ng-container>

          <!-- ACTIVE Column -->
          <ng-container cdkColumnDef="active">
              <mat-header-cell *cdkHeaderCellDef>{{ "DRIVER.VEHICLE.ACTIVE" | translate }}</mat-header-cell>
              <mat-cell *cdkCellDef="let vehicle">
                <mat-icon *ngIf="vehicle.active" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                <mat-icon *ngIf="!vehicle.active" class="active-icon mat-red-500-bg s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- ACTION Column -->
          <ng-container cdkColumnDef="actions">
            <mat-header-cell *cdkHeaderCellDef>{{ "DRIVER.VEHICLE.ACTIONS" | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let vehicle">
                <button class="mr-8 ml-8"  mat-icon-button (click)="removeVehicleFromDriver(vehicle)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *cdkRowDef="let row; columns: displayedColumns" class="item" matRipple>
          </mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="tableSize" [pageIndex]="tablePage" [pageSize]="tableCount" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
