@import "src/app/core/scss/fuse";


.item-table {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  overflow: auto;

  .mat-header-row {
      min-height: 64px;
  }

  .item {
      position: relative;
      cursor: pointer;
      height: 40px;
  }

  .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
  }

  .mat-column-id {
      flex: 0 1 84px;
  }

  .mat-column-buttons {
      flex: 0 1 80px;
  }

  .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
          display: inline-block;
          vertical-align: middle;
      }
  }

  .active-icon {
      border-radius: 50%;
  }
}


.highlight{
  background: #B9BBB9;
}

.selectedElement {
  position: relative;
  cursor: pointer;
  height: 84px;
}
