<div fxFlex="100" fxLayoutAlign="start center" class="mat-primary-bg">
    <button *ngIf="selectedBusinessRef && selectedBusinessRef.id" mat-button fxHide.xs (click)="sendDatatableRefreshCommand()">
        <mat-icon span>refresh</mat-icon> <span fxHide.sm>{{ 'TOOLBAR.REFRESH' | translate }}</span>
    </button>

    <button *ngIf="selectedBusinessRef && selectedBusinessRef.id" mat-button fxHide.xs (click)="showRequestServiceDialog(0)">
        <mat-icon span>add_box</mat-icon> <span fxHide.sm>{{ 'TOOLBAR.REQUEST' | translate }}</span>
    </button>

    <button *ngIf="selectedBusinessRef && selectedBusinessRef.id" mat-button [matMenuTriggerFor]="actions_menu">
        <mat-icon>format_list_bulleted</mat-icon> <span fxHide.sm>{{ 'TOOLBAR.ACTIONS_LBL' | translate }}</span>
    </button>

    <button *ngIf="(selectedBusinessRef && selectedBusinessRef.id) && (userIsSupervisor || isBusinessOwner || isPlatformAdmin || isSysAdmin)"
        mat-button [matMenuTriggerFor]="view_menu">
        <mat-icon>visibility</mat-icon> <span fxHide.sm>{{ 'TOOLBAR.VIEW' | translate }}</span>
    </button>

    <button *ngIf="(selectedBusinessRef && selectedBusinessRef.id) && false" mat-button [matMenuTriggerFor]="filter_menu" fxHide.lt-md>
        <mat-icon>filter_list</mat-icon> <span fxHide.sm>{{ 'TOOLBAR.FILTERS_LBL' | translate }}</span>
    </button>

    <button *ngIf="(selectedBusinessRef && selectedBusinessRef.id) && (userIsSupervisor || isBusinessOwner || isPlatformAdmin || isSysAdmin)" mat-button [matMenuTriggerFor]="channels_menu" fxHide.lt-md>
        <mat-icon>device_hub</mat-icon> <span>{{ 'TOOLBAR.CHANNELS_LBL' | translate }}</span>
    </button>

    <input *ngIf="(selectedBusinessRef && selectedBusinessRef.id) && (userIsSupervisor || isBusinessOwner || isPlatformAdmin || isSysAdmin)" 
    fxHide.xs 
    matInput placeholder="{{ 'TOOLBAR.SEARCH_BAR' | translate }}" class="search-bar-input"
     (input)="onSearchChange($event.target.value)"/>

    <button *ngIf="!(selectedBusinessRef && selectedBusinessRef.id)" fxFlex="100" mat-button>
        <mat-icon>warning</mat-icon> <span class="business-required pl-8">{{ 'WORKSTATION.BUSINESS_UNIT_REQUIRED' | translate }}</span>
    </button>

    <span fxFlex></span>

    <div *ngIf="selectedBusinessRef && selectedBusinessRef.id" fxLayoutGap="2px grid">
        <button mat-button fxFlex="30px" (click)="sendDatatableApplyPrevPage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-button fxFlex="30px">
            <span>{{page+1}} / {{maxPage}}</span>
        </button>
        <button mat-button fxFlex="30px" (click)="sendDatatableApplyNextPage()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

</div>

<mat-menu #actions_menu="matMenu">
    <button mat-menu-item  fxHide fxShow.xs (click)="sendDatatableRefreshCommand()">
        <mat-icon>refresh</mat-icon>
        <span>{{ 'TOOLBAR.ACTIONS.REFRESH' | translate }}</span>
    </button>
    <button mat-menu-item (click)="showRequestServiceDialog(0)"fxHide fxShow.xs>
        <mat-icon>add_box</mat-icon>
        <span>{{ 'TOOLBAR.ACTIONS.REQUEST' | translate }}</span>
    </button>
    <button mat-menu-item (click)="sendDatatableServiceCancelCommand()">
        <mat-icon>cancel</mat-icon>
        <span>{{ 'TOOLBAR.ACTIONS.CANCEL' | translate }}</span>
    </button>
    <button mat-menu-item (click)="sendDatatableServiceAssignCommand()" *ngIf="false">
        <mat-icon>directions_car</mat-icon>
        <span>{{ 'TOOLBAR.ACTIONS.ASSIGN' | translate }}</span>
    </button>
</mat-menu>

<mat-menu #filter_menu="matMenu" overlapTrigger=false>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.REQUESTED' | translate }}</mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.ASSIGNED' | translate }}</mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.ON_BOARD' | translate }}</mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.ARRIVED' | translate }}</mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.DONE' | translate }}</mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-checkbox>{{ 'TOOLBAR.FILTERS.CLOSED' | translate }}</mat-checkbox>
    </button>
</mat-menu>

<mat-menu #channels_menu="matMenu" overlapTrigger=false>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>person</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'OPERATOR', false)" [checked]="channelsFilter.includes('OPERATOR')">
            {{ 'TOOLBAR.CHANNELS.OPERATORS' | translate }}
        </mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>phone_iphone</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'CLIENT', true)" [checked]="channelsFilter.includes('CLIENT')">
            {{ 'TOOLBAR.CHANNELS.CLIENTS' | translate }}
        </mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>phone_iphone</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'CHAT_SATELITE', true)" [checked]="channelsFilter.includes('CHAT_SATELITE')">
            {{ 'TOOLBAR.CHANNELS.CHAT_SATELITE' | translate }}
        </mat-checkbox>
    </button>
    <!-- <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>call</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'IVR')" [checked]="channelsFilter.includes('IVR')">
            {{ 'TOOLBAR.CHANNELS.IVR' | translate }}
        </mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>tablet</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'SATELLITE')" [checked]="channelsFilter.includes('SATELLITE')">
            {{ 'TOOLBAR.CHANNELS.SATELLITES' | translate }}
        </mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>chat</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'WHATSAPP')" [checked]="channelsFilter.includes('WHATSAPP')">
            {{ 'TOOLBAR.CHANNELS.WHATSAPP' | translate }}
        </mat-checkbox>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>chat</mat-icon>
        <mat-checkbox (change)="updateChannelFilters($event, 'FACEBOOK_MSG')" [checked]="channelsFilter.includes('FACEBOOK_MSG')">
            {{ 'TOOLBAR.CHANNELS.FACEBOOK_MSG' | translate }}
        </mat-checkbox>
    </button> -->
</mat-menu>

<mat-menu #pagination_menu="matMenu" overlapTrigger=false>
    <button mat-menu-item>5</button>
    <button mat-menu-item>10</button>
    <button mat-menu-item>20</button>
    <button mat-menu-item>50</button>
    <button mat-menu-item>100</button>
</mat-menu>

<mat-menu #view_menu="matMenu" overlapTrigger=false>
    <button *ngIf="false" mat-menu-item [matMenuTriggerFor]="filter_menu" fxHide fxShow.lt-md (click)="$event.stopPropagation()">
        <mat-icon>filter_list</mat-icon> <span>{{ 'TOOLBAR.FILTERS_LBL' | translate }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="channels_menu" fxHide fxShow.lt-md (click)="$event.stopPropagation()">
        <mat-icon>device_hub</mat-icon> <span>{{ 'TOOLBAR.CHANNELS_LBL' | translate }}</span>
    </button>
    <button *ngIf="false" mat-menu-item (click)="$event.stopPropagation()">
        <mat-icon>move_to_inbox</mat-icon>
        <mat-checkbox (change)="onCheckInboxChange($event)" [(ngModel)]="isInboxVisible">Inbox</mat-checkbox>
    </button>
    <button *ngIf="userIsSupervisor || isBusinessOwner || isPlatformAdmin || isSysAdmin" mat-menu-item (click)="$event.stopPropagation()">
        <!-- <mat-icon>ballot</mat-icon> -->
        <mat-checkbox (change)="onCheckViewAllOperationChange($event)" [(ngModel)]="supervisorWatchinAllOperation">
          {{ 'TOOLBAR.VIEWS.ALL_OPERATION' | translate }}</mat-checkbox>
    </button>
</mat-menu>
