<div id="service" class="page-layout carded left-sidenav" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>
    <!-- SIDENAV -->
    <mat-sidenav
      class="sidenav"
      align="start"
      mode="side"
      [(opened)]="openedSideNav"
      fuseMatSidenavHelper="carded-left-sidenav"
    >
      <!-- SIDENAV HEADER -->
      <div *ngIf="false"
        fxLayout="column"
        fxLayoutAlign="space-between start"
        class="header p-24 pb-4"
        ngClass="mat-accent-bg"
        ngClass.gt-md="white-fg">

        <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon
            class="logo-icon s-32"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
            >local_taxi</mat-icon
          >
          <span
            class="logo-text"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            >{{ "SATELLITE.HEADER_TITLE" | translate }}</span>
        </div>

        <div
          class="account"
          fxFlex
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-between end"
        >
          <span
            class="mat-title"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            >{{ "SATELLITE.SERVICE_FILTERS.FILTER_TITLE" | translate }}
          </span>
        </div>


      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div
        class="content"
        fusePerfectScrollbar
        *fuseIfOnDom
        [@animate]="{ value: '*', params: { y: '50px' } }">




        <div class="nav" fxLayout="column">
            <form
              fxLayout="column"
              fxLayoutAlign="start"
              fxFlex="100"
              name="form"
              *ngIf="requestForm"
              [formGroup]="requestForm"
            >

            <div
              fxLayout="column"
              fxLayoutAlign="space-between center"
              fxFlex="100">

              <div
              fxLayout="row wrap"
              fxLayoutAlign="space-between center"
              fxFlex="100">
            <div fxFlex="100" class="grey-300-bg h1 secondary-text" style="text-align: center">
              {{'SATELLITE.REQUEST_VEHICLE_TITLE' | translate}}
            </div>

            <div fxFlex="100" *ngIf="isOperator">
              <div fxLayout="column" fxLayoutAlign="space-between center" >

                <mat-form-field class="mt-12">
                  <input matInput [formControl]="clientFilterCtrl" placeholder="{{ 'SATELLITE.SATELLITE_CLIENT_PLACEHOLDER' | translate }}" aria-label="satelliteClient" [matAutocomplete]="auto">

                  <mat-autocomplete panelWidth="200" #auto="matAutocomplete" autoActiveFirstOption (optionSelected)='setSelectedClientSatellite($event.option.value)' [displayWith]="displayFn">
                    <mat-option *ngFor="let satelliteClient of satelliteClientQueryFiltered$ | async" [value]="satelliteClient">
                      <!-- <img style="vertical-align:middle;" aria-hidden src="./assets/devices-location/bus2.svg" height="20" /> -->
                      <mat-icon>person_pin_circle</mat-icon>
                      <!-- <span class="text-boxed text-uppercase">{{ satelliteClient._id }}</span> -->
                      <span class="text-boxed text-uppercase">{{ satelliteClient.generalInfo ? satelliteClient.generalInfo.name: '' }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
          </div>

            <div fxFlex="100">
                <div fxLayout="column" fxLayoutAlign="space-between center" >
                    <mat-slider
                      max="5"
                      min="1"
                      step="1"
                      thumbLabel="true"
                      tickInterval="1"
                      formControlName="taxisNumber">
                    </mat-slider>
                    <div class="h4 secondary-text">{{'SATELLITE.VEHICLES_NUMBER' | translate}}</div>
                    <div class="h2 secondary-text" fxLayoutAlign="center center">
                        <mat-icon class="icon s-40 mr-16">local_taxi</mat-icon>
                        <span>{{requestForm.controls['taxisNumber'].value}}</span>
                    </div>
                </div>

            </div>


          </div>


          <div fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          fxFlex="100">
            <div fxFlex="100" class="grey-300-bg mt-20 h2 secondary-text">
              {{'SATELLITE.OTHERS' | translate}}
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="100">
                <div fxLayout="column" fxLayoutAlign="center start">

                    <mat-form-field>
                        <mat-select placeholder="{{'SATELLITE.PAYMENT_TYPE' | translate}}" formControlName="paymentType">
                          <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
                              {{ "SATELLITE.SERVICES.PAYMENT_TYPES."+paymentType | translate}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input
                          matInput
                          class="mt-4"
                          placeholder="{{'SATELLITE.REFERENCE' | translate}}"
                          formControlName="notes"
                          id="notes"
                          maxlength="40"/>
                    </mat-form-field>

                    <mat-form-field>
                        <input
                          matInput
                          type="number"
                          class="mt-4"
                          placeholder="{{'SATELLITE.TIP' | translate}}"
                          formControlName="tip"
                          id="tip"
                          maxlength="20"/>
                          <mat-error *ngIf="requestForm.hasError('min', ['tip']) || requestForm.hasError('max', ['tip'])">
                              {{'SATELLITE.SERVICES.MIN_MAX_TIP' | translate}}
                          </mat-error>
                    </mat-form-field>

                </div>

            </div>
          </div>


















          <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          fxFlex="100">
            <div fxFlex="100" class="grey-300-bg mt-20 h2 secondary-text">
              {{'SATELLITE.FEATURES' | translate}}
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="100">
                <div fxLayout="column" fxLayoutAlign="center start">
                  <mat-divider fxFlex="100"></mat-divider>
                  <div fxFlex="100" formArrayName="features"  *ngFor="let feature of requestForm.get('features').controls ; let i = index;">
                    <div fxFlex="100" class="ml-12" [formGroupName]="i" fxLayoutAlign="start start" >
                        <mat-checkbox fxFlex="100" [formControlName]="'active'">
                            {{ 'SATELLITE.FEATURES_LIST.' + feature.get('name').value | translate }}
                        </mat-checkbox>
                    </div>
                  </div>
                </div>

            </div>
          </div>




          <!-- <div fxFlex="100" class="mt-12 h3 secondary-text">{{'SATELLITE.FEATURES' | translate}}</div>

          <div fxFlex="100" formArrayName="features"  *ngFor="let feature of requestForm.get('features').controls ; let i = index;">
            <div fxFlex="100" [formGroupName]="i" fxLayoutAlign="start start">
                <mat-checkbox fxFlex="100" [formControlName]="'active'">
                    {{ 'SATELLITE.FEATURES_LIST.' + feature.get('name').value | translate }}
                </mat-checkbox>
            </div>
          </div> -->




          </div>

            </form>

            <div class="p-24">
              <button fxFlex mat-raised-button mat-button class="mat-accent compose-dialog-button" [disabled]="requestForm.invalid || !clientData || !clientData.location || requestButtonDisabled"
                aria-label="Request taxi" (click)="requestService()">
                {{ "SATELLITE.REQUEST_TAXI" | translate }}
              </button>
            </div>
            </div>



      </div>
      <!-- / SIDENAV CONTENT -->
    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">

      <!-- CONTENT HEADER -->
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div style="position: absolute; top: 60px; left: 10px; z-index: 99;">
          <button
            mat-fab
            class="sidenav-toggle"
            fuseMatSidenavToggler="carded-left-sidenav"

            aria-label="Toggle Sidenav">
            <mat-icon>menu</mat-icon>
          </button>

        </div>
      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
          <div style="background: rgb(187, 159, 130); width: 100%; height: 100%;">
              <div #gmap style="width:100%; height:100%; margin: 0; padding: 0"></div>
          </div>
      </div>

    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>
<satellite-service-list [serviceList]="serviceList" [selectedService]="selectedService" (selectedServiceChange)="onSelectedService($event)"></satellite-service-list>
