<button #openButton mat-icon-button class="open-button mat-primary-bg mat-elevation-z2" (click)="openBar()">
    <mat-icon>local_taxi</mat-icon>
</button>

<div class="theme-options-panel-overlay" #overlay [fxHide]="barClosed" [@fadeInOut]="!barClosed"></div>

<div #panel class="theme-options-panel mat-white-bg mat-elevation-z8">

    <button mat-icon-button class="close-button" (click)="closeBar()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="mt-16" *ngIf="!serviceList || serviceList.length == 0">
            <span class="h3 title secondary-text">{{'SATELLITE.SERVICES.NOT_SERVICES' | translate}} </span>
    </div>

<!-- WIDGET GROUP -->
<div class="widget-group mt-16" fxLayout="column" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- NOW WIDGET -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" (click)="selectService(service)" class="mb-8 sidenav-widget p-0 mat-elevation-z2" *ngFor="let service of serviceList">

        <!-- Front -->
        <div class="fuse-widget-front" [ngClass]="{highlightWidget: selectedService && selectedService._id == service._id}">

            <div class="pl-4 pr-4 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                <div class="h3 secondary-text">{{service.timestamp | date: "dd/MM/y HH:mm:ss"}}</div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more" 
                    *ngIf="service.state != 'CANCELLED_DRIVER' && service.state != 'CANCELLED_CLIENT' && service.state != 'CANCELLED_OPERATOR' && service.state != 'ON_BOARD' && service.state != 'DONE'">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="Flip widget" (click)="cancelService(service)">
                            {{'SATELLITE.SERVICES.CANCEL_REQUEST' | translate}}
                        </button>
                        <button mat-menu-item aria-label="Flip widget" *ngIf="false">
                            {{'SATELLITE.SERVICES.SEE_DETAIL' | translate}}
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div class="pl-8 p-4" fxLayout="column" fxLayoutAlign="start start">
                 <div class="h3 secondary-text" *ngIf="service.vehicle && service.vehicle.licensePlate">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.LICENSE_PLATE' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value" >{{service.vehicle.licensePlate}}</span>
                </div>

                <div class="h3 secondary-text">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.STATE' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{'SATELLITE.SERVICES.STATES.' + service.state | translate}}</span>
                </div>

                <div class="h3 secondary-text" *ngIf="service.client && service.client.fullname">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.CLIENT' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{service.client.fullname}}</span>
                </div>

                <div class="h3 secondary-text" *ngIf="service.driver && service.driver.fullname">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.DRIVER' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{service.driver.fullname}}</span>
                </div>

                <div class="h3 secondary-text" *ngIf="service.pickUp.addressLine1">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.ADDRESS1' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{service.pickUp.addressLine1}}</span>
                </div>

                <!-- <div class="h3 secondary-text" *ngIf="service.pickUp.addressLine2">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.ADDRESS2' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{service.pickUp.addressLine2}}</span>
                </div> -->

                <div class="h3 secondary-text" *ngIf="service.pickUp.notes">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.REFERENCE' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{service.pickUp.notes}}</span>
                </div>

                <div class="h3 secondary-text" *ngIf="service.pickUpETA">
                    <span class="title secondary-text">{{'SATELLITE.SERVICES.PICKUP_ETA' | translate}}: </span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="value">{{((service.pickUpETA - service.timestamp)/60000) | number:'1.0-0'}} {{'SATELLITE.SERVICES.MINUTES' | translate}}</span>
                </div>

                <div class="pt-4" fxLayout="row" fxLayoutAlign="start center" *ngIf="service.requestedFeatures && service.requestedFeatures.length > 0">
                    <mat-icon class="m-0 mr-16">settings_applications</mat-icon>
                    <div class="h3 secondary-text">{{"SATELLITE.SERVICES.SERVICE_PARAMS" | translate}}</div>
                </div>

                <mat-list dense>
                    <mat-list-item *ngFor="let requestedFeature of service.requestedFeatures">
                        <h5 mat-line>{{"SATELLITE.SERVICES.FEATURES." + requestedFeature | translate}}</h5>
                    </mat-list-item>
                </mat-list>


                <!--
                    <div class="form-field mr-16" fxLayout="row" fxLayoutAlign="start center" *ngIf="service.dropOff.notes">

                    </div>
                -->
            </div>
        </div>
        <!-- / Front -->

    </fuse-widget>
    <!-- / NOW WIDGET -->


</div>

</div>
