<div class="card">
    <div class="card-preview">

        <div class="fuse-card">
            <div class="p-16">
                <div class="h1 font-weight-300">{{ 'GODSEYE.STATS.SERVICES' | translate }}: {{dataCount}}</div>
            </div>
            <div class="h-100">
                <ngx-charts-bar-vertical  [animations]="false" [scheme]="scheme" [results]="data" [xAxis]="false" [showDataLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
            <div class="card-divider mb-0"></div>
        </div>
    </div>
</div>