.table-container {
  overflow: auto;
}

table {
  width: 100%;
}
.mat-cell {
  color: black;
  font-size: 0.9em;
}

.mat-header-row {
  height: 2em;
}

.mat-row {
  height: 28px;
  min-width: 28px;
  max-width: 28px;
}



.services-table {

  .item {
      position: relative;
      cursor: pointer;
  }

}


.mat-row-selected {
  background: silver
}

.td-container {
  position: relative;
}
.td-content {
  position: absolute;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-spacer {
  height: 0;
  overflow: hidden;
}
