<div class="table-container mat-elevation-z8"  [style.height.px]="tableHeight">
    <table mat-table class="services-table" [dataSource]="partialData">

        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let service">
            {{service.selected}}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.HEADERS.STATE' | translate }}</th>
          <td mat-cell *matCellDef="let service"
            [class.bg-red]="service.style.state.bgColor == 'red'"
            [class.bg-yellow]="service.style.state.bgColor == 'yellow'"
            [class.bg-green]="service.style.state.bgColor == 'green'"
            [class.bg-white]="service.style.state.bgColor == 'white'">
            <div class="td-container"
              [class.font-black]="service.style.state.fontColor == 'black'"
              [class.font-white]="service.style.state.fontColor == 'white'"
              [class.font-yellow]="service.style.state.fontColor == 'yellow'"
              [class.font-red]="service.style.state.fontColor == 'red'"
              [class.font-bold]="service.style.state.fontBold">
              <div class="td-content"> {{ 'SERVICES.STATES.' + service.state | translate }}</div>
              <div class="td-spacer">{{ 'SERVICES.STATES.' + service.state | translate }}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="state_time_span">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>{{ 'TABLE.HEADERS.STATE_TIME' | translate }}</th>
          <td mat-cell *matCellDef="let service" fxHide fxShow.gt-sm
            [class.bg-red]="service.style.tTrans.bgColor == 'red'"
            [class.bg-yellow]="service.style.tTrans.bgColor == 'yellow'"
            [class.bg-green]="service.style.tTrans.bgColor == 'green'"
            [class.bg-white]="service.style.tTrans.bgColor == 'white'">
            <div class="td-container"
              [class.font-black]="service.style.tTrans.fontColor == 'black'"
              [class.font-yellow]="service.style.tTrans.fontColor == 'yellow'"
              [class.font-red]="service.style.tTrans.fontColor == 'red'"
              [class.font-white]="service.style.tTrans.fontColor == 'white'"
              [class.font-bold]="service.style.tTrans.fontBold">
              <div class="td-content">{{service.state_time_span}}</div>
              <div class="td-spacer">{{service.state_time_span}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="creation_timestamp">
          <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.HEADERS.CREATION_TIMESTAMP' | translate }}</th>
          <td mat-cell *matCellDef="let service">
            <div class="td-container">
              <div class="td-content">{{service.creation_timestamp | date: "HH:mm:ss" }}</div>
              <div class="td-spacer">{{service.creation_timestamp | date: "HH:mm:ss" }}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="client_name">
          <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.HEADERS.CLIENT_NAME' | translate }}</th>
          <td mat-cell *matCellDef="let service">
            <div class="td-container">
              <div class="td-content">{{service.client_name}}</div>
              <div class="td-spacer">{{service.client_name}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="driverDocumentId">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>{{ 'TABLE.HEADERS.DRIVER_DOC_ID' | translate }}</th>
          <td mat-cell *matCellDef="let service" fxHide fxShow.gt-sm>
            <div class="td-container">
              <div class="td-content">{{service.driverDocumentId}}</div>
              <div class="td-spacer">{{service.driverDocumentId}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="pickup_addr">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>{{ 'TABLE.HEADERS.PICKUP_ADDR' | translate }}</th>
          <td mat-cell fxHide *matCellDef="let service" fxHide fxShow.gt-sm="let service">
            <div class="td-container">
              <div class="td-content">{{service.pickup_addr}}</div>
              <div class="td-spacer">{{service.pickup_addr}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="pickup_neig">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>{{ 'TABLE.HEADERS.NEIGHBORHOOD' | translate }}</th>
          <td mat-cell *matCellDef="let service" fxHide fxShow.gt-sm>
            <div class="td-container">
              <div class="td-content">{{service.pickup_neig}}</div>
              <div class="td-spacer">{{service.pickup_neig}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicle_plate">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>{{ 'TABLE.HEADERS.VEHICLE_PLATE' | translate }}</th>
          <td mat-cell *matCellDef="let service" fxHide fxShow.gt-xs>
            <div class="td-container">
              <div class="td-content">{{service.vehicle_plate}}</div>
              <div class="td-spacer">{{service.vehicle_plate}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="eta">
          <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>{{ 'TABLE.HEADERS.ETA_TIME' | translate }}</th>
          <td mat-cell *matCellDef="let service" fxHide fxShow.gt-xs>
            <div class="td-container">
              <div class="td-content">{{service.eta}}</div>
              <div class="td-spacer">{{service.eta}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
        </ng-container>        


        <!-- <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>{{ 'TABLE.HEADERS.DISTANCE' | translate }}</th>
            <td mat-cell *matCellDef="let service"> {{service.distance}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
        <tr mat-row class="item" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-row-selected': row.selected == '>'}" (click)="onRowSelected(row)" ></tr>
    </table>
</div>
