<div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>
    <form name="shiftDriverInfoForm" [formGroup]="shiftVehicleInfoForm" fxLayout="row wrap">

      <!-- <mat-form-field class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <input readonly="true" matInput name="id" formControlName="id" maxlength="40" placeholder="{{'SHIFT.VEHICLE_DETAIL.ID' | translate}}">
      </mat-form-field> -->

      <mat-form-field class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <input readonly="true" matInput name="brand" formControlName="brand" maxlength="40" placeholder="{{'SHIFT.VEHICLE_DETAIL.BRAND' | translate}}">
      </mat-form-field>
            
      <mat-form-field class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <input readonly="true" matInput name="licensePlate" formControlName="licensePlate" maxlength="40" placeholder="{{'SHIFT.VEHICLE_DETAIL.LICENSE_PLATE' | translate}}">
      </mat-form-field>

      <mat-form-field class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <input readonly="true" matInput name="model" formControlName="model" maxlength="40" placeholder="{{'SHIFT.VEHICLE_DETAIL.MODEL' | translate}}">
      </mat-form-field>

      <mat-form-field class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <input readonly="true" matInput name="line" formControlName="line" maxlength="40" placeholder="{{'SHIFT.VEHICLE_DETAIL.LINE' | translate}}">
      </mat-form-field>

      <div *ngIf="shift.vehicle.blocks && shift.vehicle.blocks.length > 0" class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
        <div class="pb-8 pt-8"> {{ 'SHIFT.VEHICLE_DETAIL.BLOCKS_TITLE' | translate }} </div>
        <mat-chip-list>
          <mat-chip *ngFor="let block of shift.vehicle.blocks" color="primary" selected>
            {{ 'SHIFT.VEHICLE_DETAIL.BLOCKS.' + block.key | translate }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="shift.vehicle.features && shift.vehicle.features.length > 0" class="pr-12 pl-12" fxFlex="100" fxFlex.gt-xs="50">
          <div class="pb-8 pt-8">{{ 'SHIFT.VEHICLE_DETAIL.FEATURES_TITLE' | translate }} </div>
          <mat-chip-list>
              <mat-chip *ngFor="let feature of shift.vehicle.features" color="primary" selected>{{ 'SHIFT.VEHICLE_DETAIL.FEATURES.' + feature | translate }}</mat-chip>
          </mat-chip-list>
      </div>

    </form>

  </div>
