<div id="service" class="page-layout carded left-sidenav" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>
    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" mode="side" opened="true" fuseMatSidenavHelper="carded-left-sidenav"
      mat-is-locked-open="gt-md">
      <!-- SIDENAV HEADER -->
      <div fxLayout="column" fxLayoutAlign="space-between start" class="header p-24 pb-4" ngClass="mat-accent-bg"
        ngClass.gt-md="white-fg">
        <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">create</mat-icon>
          <span class="logo-text" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">{{"DRIVER.TITLE" | translate }}</span>
        </div>

        <div class="account" fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between end">
          <span class="mat-title" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
            {{"DRIVER.FILTER" | translate }}
          </span>
        </div>
      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{ value: '*', params: { y: '50px' } }">
        <div class="nav mt-20" fxLayout="column">
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="100" name="form" [formGroup]="filterForm">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100">

              <mat-form-field>
                <input maxlength="20" matInput placeholder="{{'DRIVER.NAME' | translate}}" formControlName="name"/>
              </mat-form-field>
              <mat-form-field>
                <input maxlength="20" matInput placeholder="{{'DRIVER.LASTNAME' | translate}}" formControlName="lastname"/>
              </mat-form-field>
              <mat-form-field>
                <input maxlength="15" matInput placeholder="{{'DRIVER.PERSON_ID' | translate}}"
                  formControlName="documentId"/>
              </mat-form-field>
              <mat-form-field>
                <input maxlength="6" matInput placeholder="{{'DRIVER.LICENSE_PLATE' | translate}}"
                  formControlName="licensePlate"/>
              </mat-form-field>

              <!-- <mat-form-field>
                <input matInput placeholder="{{'DRIVER.CREATOR_USER' | translate}}" formControlName="creatorUser" id="creatorUser"
                  maxlength="20" />
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="pickerCreationDate" placeholder="{{'DRIVER.CREATION_DATE' | translate}}"
                  formControlName="creationTimestamp" />
                <mat-datepicker-toggle matSuffix [for]="pickerCreationDate"></mat-datepicker-toggle>
                <mat-datepicker [twelveHour]="false" type="datetime" #pickerCreationDate></mat-datepicker>
              </mat-form-field> -->

              <!-- <button fxFlex mat-raised-button mat-button class="mat-accent compose-dialog-button" aria-label="Filter" (click)="resetFilter()">
                {{ "DRIVER.RESET_FILTER" | translate }}
              </button> -->
            </div>
          </form>

          <div class="p-24">
            <button fxFlex mat-raised-button mat-button class="mat-accent compose-dialog-button" aria-label="Filter" (click)="resetFilter()">
              {{ "DRIVER.RESET_FILTER" | translate }}
            </button>
          </div>
        </div>
      </div>
      <!-- / SIDENAV CONTENT -->
    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">
      <!-- CONTENT HEADER -->
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="search-wrapper" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="carded-left-sidenav"
            fxHide.gt-md aria-label="Toggle Sidenav">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
        <mat-table id="entity-table" class="item-table" #table [dataSource]="dataSource" fusePerfectScrollbar>

          <!-- Name Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef fxFlex="38" fxFlex.gt-xs="25" >{{"DRIVER.NAME" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let driver" fxFlex="38" fxFlex.gt-xs="25">
              <p *ngIf="driver.name" > {{ driver.name | uppercase }} </p>
            </mat-cell>
          </ng-container>

          <!-- Lastname Column -->
          <ng-container cdkColumnDef="lastname">
            <mat-header-cell *cdkHeaderCellDef fxFlex="38" fxFlex.gt-xs="25">{{"DRIVER.LASTNAME" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let driver" fxFlex="38" fxFlex.gt-xs="25">
                <p *ngIf="driver.lastname"> {{ driver.lastname | uppercase }} </p>
            </mat-cell>
          </ng-container>

           <!-- DOCUMENT COLUMN -->
           <ng-container cdkColumnDef="document">
            <mat-header-cell *cdkHeaderCellDef >{{"DRIVER.DOCUMENT_ID" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let driver" fxHide fxShow.gt-xs fxFlex.gt-xs="25">
                <p *ngIf="driver.documentId"> {{ driver.documentId | uppercase }} </p>
            </mat-cell>
          </ng-container>


          <!-- Vehicle quantity Column -->
          <ng-container cdkColumnDef="vehicleQty">
            <mat-header-cell *cdkHeaderCellDef fxFlex="24" fxFlex.gt-xs="25">{{"DRIVER.VEHICLE_QTY" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let driver" fxFlex="24" fxFlex.gt-xs="25" fxLayoutAlign="center center">
              <p> {{ driver.assignedVehicles.length  }} </p>
            </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *cdkRowDef="let row; columns: displayedColumns" class="item" (click)="selectdriverRow(row)"
            [routerLink]="row._id" matRipple>
          </mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="tableSize" [pageIndex]="tablePage" [pageSize]="tableCount" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>
