<div class="page-layout blank p-24" fusePerfectScrollbar>


  <mat-grid-list *ngIf="isHorizontalWithInboxLayout()" [cols]=[screenCols] rowHeight="10px" gutterSize="0px">
    <mat-grid-tile [colspan]=[toolbarCols] [rowspan]=[toolbarRows]>
      <toolbar fxFlex="100" [selectedBusiness]="selectedBusiness" [userIsSupervisor]="userIsSupervisor" ></toolbar>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=[inboxCols] [rowspan]=[inboxRows] >
      <inbox fxFlex="100"></inbox>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=[datatableCols] [rowspan]=[datatableRows] >
      <datatable [selectedBusinessId]="selectedBusinessId" fxFlex="100"></datatable>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list *ngIf="isVerticalWithInboxLayout()" [cols]=[screenCols] rowHeight="10px" gutterSize="0px">
    <mat-grid-tile [colspan]=[toolbarCols] [rowspan]=[toolbarRows] >
      <toolbar [selectedBusiness]="selectedBusiness" [userIsSupervisor]="userIsSupervisor" fxFlex="100"></toolbar>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=[datatableCols] [rowspan]=[datatableRows] >
      <datatable [selectedBusinessId]="selectedBusinessId" fxFlex="100"></datatable>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=[inboxCols] [rowspan]=[inboxRows] >
      <inbox fxFlex="100"></inbox>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list *ngIf="isNoInboxLayout()" [cols]=[screenCols] rowHeight="10px" gutterSize="0px">
    <mat-grid-tile [colspan]=[toolbarCols] [rowspan]=[toolbarRows] >
      <toolbar [selectedBusiness]="selectedBusiness" [userIsSupervisor]="userIsSupervisor" fxFlex="100"></toolbar>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=[datatableCols] [rowspan]=[datatableRows] >
      <datatable [selectedBusinessId]="selectedBusinessId" fxFlex="100"></datatable>
    </mat-grid-tile>
  </mat-grid-list>




</div>
