apiVersion: apps/v1
kind: Deployment
metadata:
  name: driver-app-link
spec:
  replicas: 2
  selector:
    matchLabels:
      app: driver-app-link
  template:
    metadata:
      labels:
        app: driver-app-link
    spec:      
      containers:
      - image: IMAGE_NAMESPACE/IMAGE_NAME:IMAGE_TAG
        name: driver-app-link
        volumeMounts:
        - name: google-application-credentials
          mountPath: "/etc/GOOGLE_APPLICATION_CREDENTIALS"
          readOnly: true
        resources:
          requests:
            cpu: "50m"
        env:     
        # EVENT STORE CONFIG 
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /etc/GOOGLE_APPLICATION_CREDENTIALS/gcloud-service-key.json  
        - name: EVENT_STORE_BROKER_TYPE
          value: PUBSUB
        - name: EVENT_STORE_BROKER_EVENTS_TOPIC
          value: events
        - name: EVENT_STORE_STORE_TYPE
          value: MONGO
        - name: EVENT_STORE_STORE_URL
          value: mongodb://dbevents-0.dbevents:27017,dbevents-1.dbevents:27017,dbevents-2.dbevents:27017/test?replicaSet=rs0
        - name: EVENT_STORE_STORE_AGGREGATES_DB_NAME
          value: Aggregates
        - name: EVENT_STORE_STORE_EVENTSTORE_DB_NAME
          value: EventStore
        # INTERNAL MONGO DB CONFIG
        - name: MONGODB_URL
          value: mongodb://dbserv-0.dbserv:27017,dbserv-1.dbserv:27017,dbserv-2.dbserv:27017?replicaSet=rs0
        - name: MONGODB_DB_NAME
          value: master
        # JWT CONGIF        
        - name: JWT_PUBLIC_KEY
          valueFrom:
            configMapKeyRef:
              name: keycloak-jwt-public-key
              key: jwt_public_key
        # API - EMI-GATEWAY CONFIG
        - name: EMI-GATEWAY_REPLIES_TOPIC_SUBSCRIPTION
          value: emi-gateway-replies-topic-mbe-driver-app-link
        - name: REPLY_TIMEOUT
          value: '2000'
        - name: BROKER_TYPE
          value: PUBSUB
        # BACKEND PARAMETERS
        - name: GMT_TO_SERVE
          value: "GMT-5"
        # RESET LOCK INITIALIZE BACKED
        - name: LOCKVERSION
          value: "07-05-19_03"
        # DRIVER-APP-LINK CONFIG
        - name: DRIVER_APP_MQTT_SERVER_URL
          valueFrom:
           secretKeyRef:
             name: driver-app-link
             key: DRIVER_APP_MQTT_SERVER_URL
        - name: DRIVER_APP_MQTT_SERVER_PORT
          valueFrom:
           secretKeyRef:
             name: driver-app-link
             key: DRIVER_APP_MQTT_SERVER_PORT
        - name: DRIVER_APP_MQTT_SERVER_CLIENT_ID
          valueFrom:
           secretKeyRef:
             name: driver-app-link
             key: DRIVER_APP_MQTT_SERVER_CLIENT_ID
        - name: DRIVER_APP_MQTT_SERVER_USER
          valueFrom:
           secretKeyRef:
             name: driver-app-link
             key: DRIVER_APP_MQTT_SERVER_USER
        - name: DRIVER_APP_MQTT_SERVER_PASSWORD
          valueFrom:
           secretKeyRef:
             name: driver-app-link
             key: DRIVER_APP_MQTT_SERVER_PASSWORD
        # SERVICE OFFER SPANS CONFIG
        - name: SERVICE_OFFER_MAX_DISTANCE_MIN
          value: "3000"
        - name: SERVICE_SATELLITE_OFFER_MAX_DISTANCE
          value: "3000"  
        - name: SERVICE_OFFER_MAX_DISTANCE
          value: "800"
        - name: SERVICE_OFFER_MIN_DISTANCE
          value: "0"
        - name: SERVICE_OFFER_TOTAL_SPAN
          value: "240000"
        - name: SERVICE_OFFER_SEARCH_SPAN
          value: "30000"
        - name: SERVICE_OFFER_SHIFT_SPAN
          value: "4000"
        - name: BUSINESS_UNIT_IDS_WITH_SIMULTANEOUS_OFFERS
          value: ""
        - name: SERVICE_OFFER_EXTENDED_DISTANCE_HOURS
          value: "0_1_2_3_4_5_11_15_20_21_22_23"
        - name: SERVICE_OFFER_EXTENDED_DISTANCE
          value: "3000"
        - name: APP_DRIVER_AGREEMENT
          value: "1000"
        - name: INCOMING_SHIFT_MSG_TOPIC
          value: "$share/server-dal/+/driver-app/shift/server"
        - name: INCOMING_SERVICE_MSG_TOPIC
          value: "$share/server-dal/+/driver-app/service/server"
        
      volumes:
      - name: google-application-credentials
        secret:
          secretName: google-application-credentials
      
