apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-core
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-core
  template:
    metadata:
      labels:
        app: service-core
    spec:      
      containers:
      - image: IMAGE_NAMESPACE/IMAGE_NAME:IMAGE_TAG
        name: service-core
        volumeMounts:
        - name: google-application-credentials
          mountPath: "/etc/GOOGLE_APPLICATION_CREDENTIALS"
          readOnly: true
        resources:
          requests:
            cpu: "50m"
        env:     
        # EVENT STORE CONFIG 
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /etc/GOOGLE_APPLICATION_CREDENTIALS/gcloud-service-key.json  
        - name: EVENT_STORE_BROKER_TYPE
          value: PUBSUB
        - name: EVENT_STORE_BROKER_EVENTS_TOPIC
          value: events
        - name: EVENT_STORE_STORE_TYPE
          value: MONGO
        - name: EVENT_STORE_STORE_URL
          value: mongodb://dbevents-0.dbevents:27017,dbevents-1.dbevents:27017,dbevents-2.dbevents:27017/test?replicaSet=rs0
        - name: EVENT_STORE_STORE_AGGREGATES_DB_NAME
          value: Aggregates
        - name: EVENT_STORE_STORE_EVENTSTORE_DB_NAME
          value: EventStore
        # INTERNAL MONGO DB CONFIG
        - name: MONGODB_URL
          value: mongodb://dbserv-0.dbserv:27017,dbserv-1.dbserv:27017,dbserv-2.dbserv:27017?replicaSet=rs0
        - name: MONGODB_DB_NAME
          value: master
        # JWT CONGIF        
        - name: JWT_PUBLIC_KEY
          valueFrom:
            configMapKeyRef:
              name: keycloak-jwt-public-key
              key: jwt_public_key
        # API - EMI-GATEWAY CONFIG
        - name: EMI-GATEWAY_REPLIES_TOPIC_SUBSCRIPTION
          value: emi-gateway-replies-topic-mbe-service-core
        - name: REPLY_TIMEOUT
          value: '2000'
        - name: BROKER_TYPE
          value: PUBSUB
        - name: SHIFT_ACCEPT_SERVICE_THRESHOLD
          value: "1000"
        # BACKEND PARAMETERS
        - name: GMT_TO_SERVE
          value: "GMT-5"
        - name: DRIVER_APP_MIN_VERSION
          value: "1670"
        - name: NEARBY_VEHICLES_RATIOMTS
          value: "1500"
        - name: APP_DRIVER_AGREEMENT
          value: "1000"
        # RESET LOCK INITIALIZE BACKED
        - name: LOCKVERSION
          value: "07-05-19_03"
        
      volumes:
      - name: google-application-credentials
        secret:
          secretName: google-application-credentials
      
