<div id="service" class="page-layout carded left-sidenav" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>
    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" mode="side" opened="true" fuseMatSidenavHelper="carded-left-sidenav"
      mat-is-locked-open="gt-md">
      <!-- SIDENAV HEADER -->
      <div fxLayout="column" fxLayoutAlign="space-between start" class="header p-24 pb-4" ngClass="mat-accent-bg"
        ngClass.gt-md="white-fg">
        <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">ballot</mat-icon>
          <span class="logo-text" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">{{
            "SHIFT.HEADER_TITLE" | translate }}</span>
        </div>

        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
          <span class="mat-title" *fuseIfOnDom [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">{{
            "SHIFT.SHIFT_FILTERS.FILTER_TITLE" | translate }}
          </span>
          <button class="mat-title" mat-button (click)="refreshData()" >
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{ value: '*', params: { y: '50px' } }">
        <div class="nav mt-20" fxLayout="column">
          <form fxLayout="column" fxLayoutAlign="start" fxFlex="100" name="form" [formGroup]="filterForm">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100">

              <!-- INITIAL TIME -->
              <mat-form-field>
                <input matInput [matDatepicker]="pickerInitDate" placeholder="{{'SHIFT.SHIFT_FILTERS.INIT_TIMESTAMP' | translate}}"
                  formControlName="initTimestamp" [min]="minInitDate" [max]="maxInitDate" (dateChange)="onInitDateChange()"/>
                <mat-datepicker-toggle matSuffix [for]="pickerInitDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerInitDate></mat-datepicker>
              </mat-form-field>

              <!-- END TIME -->
              <mat-form-field>
                <input matInput [matDatepicker]="pickerEndDate" placeholder="{{'SHIFT.SHIFT_FILTERS.END_TIMESTAMP' | translate}}"
                  formControlName="endTimestamp" [min]="minEndDate" [max]="maxEndDate" (dateChange)="onEndDateChange()"/>
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
              </mat-form-field>

              <!-- DRIVER DOCUMENT ID -->
              <mat-form-field>
                <input matInput placeholder="{{'SHIFT.SHIFT_FILTERS.DRIVER_DOCUMENT_ID' | translate}}" formControlName="driverDocumentId"
                  id="driverDocumentId" maxlength="20" />
              </mat-form-field>

              <!-- DRIVER DOCUMENT NAME -->
              <mat-form-field>
                <input matInput placeholder="{{'SHIFT.SHIFT_FILTERS.DRIVER_FULLNAME' | translate}}" formControlName="driverFullname"
                  id="driverFullname" maxlength="20" />
              </mat-form-field>

              <!-- VEHICLE LICENSE PLATE -->
              <mat-form-field>
                <input matInput maxlength="6" placeholder="{{'SHIFT.SHIFT_FILTERS.VEHICLE_LICENSE_PLATE' | translate}}" formControlName="vehicleLicensePlate"
                  id="vehicleLicensePlate" />
              </mat-form-field>

              <!-- SHIFTS STATES -->
              <!-- <mat-form-field>
                <mat-select placeholder="{{'SHIFT.SHIFT_FILTERS.STATES' | translate}}" formControlName="states"
                  multiple>
                  <mat-option *ngFor="let state of stateList" [value]="state">
                    {{ "SHIFT.SHIFT_STATES."+state | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <div fxFlex="100">
                <div fxLayout="column" fxLayoutAlign="center start">
                  <div fxFlex="100" formArrayName="states" *ngFor="let state of filterForm.get('states')['controls'] ; let i = index;">
                    <div fxFlex="100" class="ml-12" [formGroupName]="i" fxLayoutAlign="start start">
                      <mat-checkbox fxFlex="100" [formControlName]="'active'">
                        {{ 'SHIFT.SHIFT_STATES.' + state.get('name').value | translate }}
                      </mat-checkbox>
                    </div>
                  </div>
                
                  <mat-checkbox *ngIf="filterForm.get('onlineState')" fxFlex="100" class="ml-12"
                    fxLayoutAlign="start start" [checked]="filterForm.get('onlineState').value == 'true'"
                    [indeterminate]="filterForm.get('onlineState').value == 'null'" (change)="updateStateValue()">
                    {{ 'SHIFT.SHIFT_FILTERS.ONLINE_STATES.' + filterForm.get('onlineState').value | translate }}
                  </mat-checkbox>
                
                </div>
              </div>
              
            </div>
          </form>

          <div class="p-24">
            <!-- BUTTON TO CLEAR FILTER FIELDS -->
            <button fxFlex mat-raised-button mat-button class="mat-accent compose-dialog-button" aria-label="Filter" (click)="resetFilter()">
              {{ "SHIFT.SHIFT_FILTERS.RESET_FILTER" | translate }}
            </button>
          </div>
        </div>
      </div>
      <!-- / SIDENAV CONTENT -->
    </mat-sidenav>
    <!-- / SIDENAV -->
    <!-- CENTER -->
    <div class="center">
      <!-- CONTENT HEADER -->
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="search-wrapper" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="carded-left-sidenav" fxHide.gt-md
            aria-label="Toggle Sidenav">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-button fxHide.gt-md (click)="refreshData()" >
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>
      <!-- / CONTENT HEADER -->
      

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
        <mat-table id="entity-table" class="item-table" #table [dataSource]="dataSource" fusePerfectScrollbar>

          <!-- Timestamp Column -->
          <ng-container cdkColumnDef="timestamp">
            <mat-header-cell *cdkHeaderCellDef>{{"SHIFT.SHIFT_TABLE_LIST.TIMESTAMP" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift">
              <p>{{ shift.timestamp | date: "dd/MM/y HH:mm:ss" }}</p>
            </mat-cell>
          </ng-container>

          <!--  Driver username Column -->
          <ng-container cdkColumnDef="driverUsername">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{"SHIFT.SHIFT_TABLE_LIST.DRIVER_USERNAME" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift" fxHide fxShow.gt-xs >
              <p *ngIf="shift.driver && shift.driver.username" class="text-truncate">
                {{ shift.driver.username | uppercase }}
              </p>
            </mat-cell>
          </ng-container>

          <!--  Driver documentId Column -->
          <ng-container cdkColumnDef="driverDocumentId">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{"SHIFT.SHIFT_TABLE_LIST.DRIVER_DOCUMENT" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift" fxHide fxShow.gt-xs >
              <p class="text-truncate">
                {{ shift.driver.documentId}}
              </p>
            </mat-cell>
          </ng-container>

          <!--  License plate Column -->
          <ng-container cdkColumnDef="licensePlate">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{"SHIFT.SHIFT_TABLE_LIST.LICENSE_PLATE" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift" fxHide fxShow.gt-xs>
              <p *ngIf="shift.vehicle && shift.vehicle.licensePlate" class="text-truncate"> {{ shift.vehicle.licensePlate | uppercase }} </p>
            </mat-cell>
          </ng-container>

          <!--  SHIFT STATE COLUMN -->
          <ng-container cdkColumnDef="vehicleModel">
            <mat-header-cell *cdkHeaderCellDef>{{"SHIFT.SHIFT_TABLE_LIST.SHIFT_STATE" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift">
              <p class="text-truncate"> {{ 'SHIFT.SHIFT_STATES.' + shift.state | translate}} </p>
            </mat-cell>
          </ng-container>

          <!--  LAST COMMUNICATION  ESTABLISHED Column -->
          <ng-container cdkColumnDef="lastReceivedComm">
              <mat-header-cell *cdkHeaderCellDef >{{"SHIFT.SHIFT_TABLE_LIST.LAST_COMMUNICATION" | translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let shift">
                <p  [ngClass]="{'red-color': !shift.online, 'green-color': shift.online }"> {{ shift.lastReceivedComm | date: "dd/MM/y HH:mm:ss" }} </p>
              </mat-cell>
            </ng-container>

          <!--  ACTIONS COLUMN -->
          <ng-container cdkColumnDef="actions">
            <mat-header-cell *cdkHeaderCellDef >{{"SHIFT.SHIFT_TABLE_LIST.ACTIONS" | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let shift" (click)="$event.stopPropagation()">
              <button *ngIf="shift.state != 'CLOSED'" (click)="closeShift(shift._id)"
                matTooltip="{{ 'SHIFT.CLOSE_SHIFT' | translate }}"  mat-icon-button>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *cdkRowDef="let row; columns: displayedColumns" class="item" (click)="selectserviceRow(row)"
            [ngClass]="{highlight: selectedService && selectedService._id == row._id}"
            [routerLink]="row._id" matRipple>
          </mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="tableSize" [pageIndex]="tablePage" [pageSize]="tableCount" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>
